/* Core CSS */

:root {
	/* Ana Renkler */
	--primary-color: #0056b3;
	--secondary-color: #6c757d;
	--tertiary-color: #17a2b8;
	
	/* Nötr Renkler */
	--white-color: #ffffff;
	--black-color: #000000;
	--gray-color: #6c757d;
	
	/* Durum Renkleri */
	--success-color: #28a745;
	--danger-color: #dc3545;
	--warning-color: #ffc107;
	--info-color: #17a2b8;
}

/* Utility Classes */
.primary { color: var(--primary-color) !important; }
.secondary { color: var(--secondary-color) !important; }
.tertiary { color: var(--tertiary-color) !important; }

.white { color: var(--white-color) !important; }
.black { color: var(--black-color) !important; }
.gray { color: var(--gray-color) !important; }

.success { color: var(--success-color) !important; }
.danger { color: var(--danger-color) !important; }
.warning { color: var(--warning-color) !important; }
.info { color: var(--info-color) !important; }

.bg-primary { background-color: var(--primary-color) !important; }
.bg-secondary { background-color: var(--secondary-color) !important; }
.bg-tertiary { background-color: var(--tertiary-color) !important; }

.bg-white { background-color: var(--white-color) !important; }
.bg-black { background-color: var(--black-color) !important; }
.bg-gray { background-color: var(--gray-color) !important; }

.bg-success { background-color: var(--success-color) !important; }
.bg-danger { background-color: var(--danger-color) !important; }
.bg-warning { background-color: var(--warning-color) !important; }
.bg-info { background-color: var(--info-color) !important; }